<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header" id="header-assignments">
  <div class="left-header">
    <h1>Assignments</h1>
  </div>
  <div class="right-header">
    <div class="name">
      Create New
    </div>
  </div>
</div>
<form action="/teacher/assignment/create" method="post" class="form dropzone" id="assign-create">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" name="name" required autofocus <%- typeof name == 'undefined' ? '' : ('value="' + name + '" ') %>/>
  <label for="desc">Description</label>
  <textarea class="form-control" id="desc" name="desc"><%- typeof desc == 'undefined' ? '' : desc %></textarea>
  <label for="due">Due Date</label>
  <input type="text" class="form-control" name="due" id="due" required <%- typeof due == 'undefined' ? '' : ('value="' + due + '" ') %>/>
  <h3>Include files:</h3>
  <h4 class="clickable">Click to upload or drag files here.</h4>
  <div class="files dropzone-previews">
  </div>
  <h3>Assign this to the following sections:</h3>
  <ul class="section-list">
    <% if(typeof rows != 'undefined') {
        for(i in rows) { %>
          <li><label><input type="checkbox" name="section[]" value="<%= rows[i].id %>"<%= preselect == rows[i].id ? ' checked' : '' %> /><%= rows[i].name %></label></li>
    <%  }
       } %>
  </ul>
  <button type="submit" class="btn btn-lg btn-primary btn-block" id="submit-btn">Create</button>
</form>
