<div class="page-header">
  <h1><%= assignment.name %> | <a class="sub-header"><%= assignment.sname %></a></h1>
  <h2 class="right">Due <%= strftime('%b %o', new Date(assignment.due)) %></h2>
</div>
Description: <%= assignment.description %><br />
Assigned to: <%= assignment.sname %>
