<div class="page-header">
  <h1><%= assignment.name %> | <a href="/teacher/section/<%= assignment.sid %>" class="sub-header"><%= assignment.sname %></a></h1>
  <%
    var due = new Date(assignment.due);
    var sameYear = due.getYear() == new Date(Date.now()).getYear();
  %>
  <h2 class="right" id="dueh2" title="<%= strftime('%b %o %Y @ %l:%M %p', due) %>">Due <span class="edit" data-key="updatedue"><span><%= strftime(sameYear ? '%b %o' : '%b %o, %Y', due) %></span><input type="text" class="form-control" id="due" /></span><span class="glyphicon glyphicon-edit glyph-button" data-toggle="tooltip" data-placement="right" title="Edit"></span></h2>
</div>
<div class="description">
  <span class="edit" data-key="updatedesc" data-default="No Description"><span><%= assignment.description ? assignment.description : '' %></span><input type="text" class="form-control" /></span><span class="glyphicon glyphicon-edit glyph-button" data-toggle="tooltip" data-placement="right" title="Edit"></span>
</div>
<div class="table-responsive">
  <table class="table table-striped table-linked">
    <thead>
      <tr>
        <th>Student</th>
        <th>Submitted</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <% if(results.length == 0) { %>
        <tr>
          <td colspan="3">There are no students in this section.</td>
        </tr>
      <% } else {
          for(i in results) {
            if(results[i].submitted) { %>
              <tr onclick="document.location = '/teacher/submission/<%= results[i].subID %>'">
            <% } else { %>
              <tr>
            <% } %>
              <td><%= results[i].fname + ' ' + results[i].lname %></td>
              <%
                var submitted = new Date(results[i].submitted);
                var submittedStr = strftime(submitted.getYear() == new Date(Date.now()).getYear() ? '%b %d, %l:%M %p' : '%b %d, %Y', submitted);
              %>
              <td><%- results[i].submitted ? submittedStr : 'Never' %></td>
              <td>Not Graded</td>
            </tr>
       <% }
         } %>
    </tbody>
  </table>
</div>