<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header" id="header-classes">
  <div class="left-header">
    <h1>Classes</h1>
  </div>
  <div class="mid-header">
    <a href="/teacher/assignment/create/<%= sectionID %>" class="right plus-button" data-toggle="tooltip" data-placement="bottom" title="New Assignment"><span class="fa fa-plus"></span></a>
  </div>
  <div class="right-header">
    <div class="name">
      <span class="edit" data-key="updatename" data-default="none" id="sec-edit"><span><%= sectionName %></span><input type="text" class="form-control" /></span><span class="fa fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>
    </div>
  </div>
</div>
<dl class="description">
  <dt>Class Code:</dt>
  <dd><%= sectionCode %><span class="fa fa-question-circle help" data-toggle="tooltip" data-placement="right" title="Give this to your students so they can join the class."></span></dd>
</dl>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th data-sort="string">Assignment <a class="fa fa-sort"></th>
        <th data-sort="int">Due <a class="fa fa-sort"></th>
        <th data-sort="float">Completed <a class="fa fa-sort"></th>
        <th data-sort="float">Graded <a class="fa fa-sort"></th>
      </tr>
    </thead>
    <tbody>
      <% if(rows.length == 0) { %>
        <tr>
          <td colspan="4">You have not posted any assignments.</td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><a href="/teacher/assignment/<%= rows[i].aid %>"><%= rows[i].aname %></a></td>
              <%
                var due = new Date(rows[i].due);
                var dueStr = strftime('%m-%d-%y', due);
              %>
              <td title="<%= strftime('%b %d %Y, %l:%M %p', due) %>" data-sort-value="<%= due ? due.getTime() : 0 %>"><%= dueStr %></td>
              <td data-sort-value="<%= rows[i].total == 0 ? 0 : (rows[i].complete / rows[i].total) %>"><%= rows[i].complete ? rows[i].complete : 0 %> of <%= rows[i].total ? rows[i].total : 0 %></td>
              <td data-sort-value="<%= rows[i].complete == 0 ? 0 : (rows[i].graded / rows[i].complete) %>"><%= rows[i].graded ? rows[i].graded : 0 %> of <%= rows[i].complete ? rows[i].complete : 0 %></td>
            </tr>
       <% }
         } %>
    </tbody>
  </table>
</div>
