<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header">
  <h1><span class="edit" data-key="updatename" data-default="none" id="sec-edit"><span><%= sectionName %></span><input type="text" class="form-control" /></span><span class="fa fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>'s Assignments</h1>
  <a href="/teacher/assignment/create/<%= sectionID %>" class="right plus-button"><span class="fa fa-plus-circle" data-toggle="tooltip" data-placement="left" title="New Assignment"></span></a>
</div>
<dl class="description">
  <dt>Section Code:</dt>
  <dd><%= sectionCode %><span class="fa fa-question-circle help" data-toggle="tooltip" data-placement="right" title="Give this to your students so they can join the section."></span></dd>
</dl>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Due</th>
        <th>Completed</th>
        <th>Graded</th>
      </tr>
    </thead>
    <tbody>
      <% if(rows.length == 0) { %>
        <tr>
          <td colspan="5">You have not posted any assignments.</td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><a href="/teacher/assignment/<%= rows[i].aid %>"><%= rows[i].aname %></a></td>
              <%
                var due = new Date(rows[i].due);
                var dueStr = strftime(due.getYear() == new Date(Date.now()).getYear() ? '%b %d, %l:%M %p' : '%b %d, %Y', due);
              %>
              <td title="<%= strftime('%b %d %Y, %l:%M %p', due) %>"><%= dueStr %></td>
              <td><%= rows[i].complete %> of <%= rows[i].total %></td>
              <td><%= rows[i].graded %> of <%= rows[i].complete %></td>
            </tr>
       <% }
         } %>
    </tbody>
  </table>
</div>
