<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header">
  <h1><a href="/teacher/student/<%= student.id %>"><%= student.fname + ' ' + student.lname %>'s</a> submission to <a href="/teacher/assignment/<%= assignment.id %>"><%= assignment.name %></a></h1>
  <a href="/teacher/submission/<%= submission.id %>/download" class="right"><span class="fa fa-download" data-toggle="tooltip" data-placement="left" title="Download All"></span></a>
</div>
<dl class="description">
  <%
    var submitted = new Date(submission.submitted);
    var submittedStr = strftime(submitted.getYear() == new Date(Date.now()).getYear() ? '%b %d, %l:%M %p' : '%b %d, %Y', submitted);
    if(submission.submitted > submission.due) {
      submittedStr += ' <span class="fa fa-clock-o" data-toggle="tooltip" data-placement="right" title="Late"></span>';
    }
  %>
  <dt>Submitted:</dt>
    <dd><%- submittedStr %></dd>
  <dt>Grade:</dt>
    <dd><span class="edit" data-key="updategrade" data-default="Not graded."><span><%= submission.grade ? submission.grade : '' %></span><input type="text" class="form-control" /></span><span class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="right" title="Edit"></span></dd>
</dl>
<% if(!anyCompiled) { %>
  <div class="alert alert-warning" role="alert">
    WARNING: An error was encountered during the compilation of this code.
  </div>
<% } %>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <% for(i in fileData) { %>
      <% fileData[i].shortName = i; %>
      <li role="presentation"<%- i == 0 ? ' class="active"' : '' %>><a href="#<%= fileData[i].shortName %>" role="tab" data-toggle="tab" data-canrun="<%= fileData[i].compiled ? 'true' : 'false' %>"><%= fileData[i].name %></a></li>
    <% } %>
    <li role="presentation" id="execute" class="icon"><span class="fa fa-play-circle-o" data-toggle="tooltip" data-placement="top" title="Run"></span></li>
    <li role="presentation" id="test" class="icon"><span class="fa fa-th-list" data-toggle="tooltip" data-placement="top" title="Run Tests"></span></li>
    <li role="presentation" id="download" class="icon"><span class="fa fa-download" data-toggle="tooltip" data-placement="top" title="Download"></span></li>
  </ul>
</div>
<div class="tab-content">
  <% for (i in fileData) { %>
    <div role="tabpanel" class="tab-pane<%= i == 0 ? ' first active' : '' %>" id="<%= fileData[i].shortName %>">
      <pre><code class="prettyprint language-java linenums"><%= fileData[i].display ? fileData[i].contents : 'There is too much data to be displayed.' %></code><ol class="comments"></ol></pre>
    </div>
  <% } %>
</div>
<div>
  <span>Input</span>
  <span class="fa fa-caret-square-o-right" id="input-expand"></span>
  <textarea class="form-control put-text" id="input-text"></textarea>
  <span id="output-tag">Output</span>
  <pre class="form-control put-text" id="output-text" readonly></pre>
</div>
