<div class="page-header">
  <h1><a href="/teacher/student/<%= subData.id %>"><%= subData.fname + ' ' + subData.lname %>'s</a> submission to <a href="/teacher/assignment/<%= subData.aid %>"><%= subData.name %></a></h1>
</div>
<dl class="description">
  <%
    var submitted = new Date(subData.submitted);
    var submittedStr = strftime(submitted.getYear() == new Date(Date.now()).getYear() ? '%b %d, %l:%M %p' : '%b %d, %Y', submitted);
    if(subData.submitted > subData.due) {
      submittedStr += ' <span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="right" title="Late"></span>';
    }
  %>
  <dt>Submitted:</dt>
    <dd><%- submittedStr %></dd>
  <dt>Grade:</dt>
    <dd><span class="edit" data-key="updategrade" data-default="Not graded."><span><%= subData.grade ? subData.grade : '' %></span><input type="text" class="form-control" /></span><span class="glyphicon glyphicon-edit glyph-button" data-toggle="tooltip" data-placement="right" title="Edit"></span></dd>
</dl>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <% for(i in fileData) { %>
      <% fileData[i].shortName = i; %>
      <li role="presentation"<%- i == 0 ? ' class="active"' : '' %>><a href="#<%= fileData[i].shortName %>" role="tab" data-toggle="tab"><%= fileData[i].name %></a></li>
    <% } %>
    <li role="presentation" id="execute"><span class="glyphicon glyphicon-play-circle glyph-button" data-toggle="tooltip" data-placement="left" title="Run"></span></li>
  </ul>
</div>
<div class="tab-content">
  <% for (i in fileData) { %>
    <div role="tabpanel" class="tab-pane<%= i == 0 ? ' first active' : '' %>" id="<%= fileData[i].shortName %>">
      <pre><code class="prettyprint language-java"><%= fileData[i].contents %></code></pre>
    </div>
  <% } %>
</div>
<div>
  <span>Input</span>
  <span class="glyphicon glyphicon-expand" id="input-expand"></span>
  <textarea class="form-control put-text" id="input-text"></textarea>
  <span id="output-tag">Output</span>
  <pre class="form-control put-text" id="output-text" readonly></pre>
</div>