<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<div class="page-header" id="header-assignments">
  <div class="left-header">
    <h1><a href="/teacher/assignment/<%= assignment.id %>"><%= assignment.name %></a></h1>
  </div>
  <div class="mid-header">
    <a href="/teacher/submission/<%= submission.id %>/download" class="right" data-toggle="tooltip" data-placement="bottom" title="Download All"><span class="fa fa-download"></span></a>
  </div>
  <div class="right-header">
    <div class="name">
      <a href="/teacher/student/<%= student.id %>"><%= student.fname + ' ' + student.lname %></a> 
    </div>
    <div class="nav-chev">
      <% if(previous < 0) { %>
        <a href="#" class="right disabled"><span class="fa fa-chevron-up"></span></a>
      <% } else { %>
        <a href="/teacher/submission/<%= previous %>" class="right" data-toggle="tooltip" data-placement="left" title="Previous"><span class="fa fa-chevron-up"></span></a>
      <% } %>
      <% if(next < 0) { %>
        <a href="#" class="right disabled"><span class="fa fa-chevron-down"></span></a>
      <% } else { %>
        <a href="/teacher/submission/<%= next %>" class="right" data-toggle="tooltip" data-placement="left" title="Next"><span class="fa fa-chevron-down"></span></a>
      <% } %>
    </div>
  </div>
</div>
<dl class="description">
  <%
    var submitted = new Date(submission.submitted);
    var submittedStr = strftime('%b %d %Y, %l:%M %p', submitted);
    if(submission.submitted > assignment.due) {
      submittedStr += ' <span class="fa fa-clock-o" data-toggle="tooltip" data-placement="right" title="Late"></span>';
    }
  %>
  <dt>Submitted:</dt>
    <dd><%- submittedStr %></dd>
  <dt>Grade:</dt>
    <dd><span class="edit" data-key="updategrade" data-default="Not graded."><span><%= submission.grade ? submission.grade : '' %></span><input type="text" class="form-control" /></span><span class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="right" title="Edit"></span></dd>
</dl>
<% if(!anyCompiled) { %>
  <div class="alert alert-warning" role="alert">
    WARNING: An error was encountered during the compilation of this code.
  </div>
<% } %>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <% for(i in fileData) { %>
      <% fileData[i].shortName = i; %>
      <li role="presentation"<%- i == 0 ? ' class="active"' : '' %>><a href="#<%= fileData[i].shortName %>" role="tab" data-toggle="tab" data-canrun="<%= fileData[i].compiled ? 'true' : 'false' %>"<%- teacherFiles.indexOf(fileData[i].name) >= 0 ? ' class="teacher-file"' : '' %>><%= fileData[i].name %></a></li>
    <% } %>
    <li role="presentation" id="execute" class="icon" data-toggle="tooltip" data-placement="top" title="Run"><span class="fa fa-play-circle-o"></span></li>
    <li role="presentation" id="test" class="icon" data-toggle="tooltip" data-placement="top" title="Run Tests"><span class="fa fa-th-list"></span></li>
    <li role="presentation" id="download" class="icon" data-toggle="tooltip" data-placement="top" title="Download"><span class="fa fa-download"></span></li>
  </ul>
</div>
<div class="tab-content">
  <% for (i in fileData) { %>
    <div role="tabpanel" class="tab-pane<%= i == 0 ? ' first active' : '' %>" id="<%= fileData[i].shortName %>">
      <pre><%- teacherFiles.indexOf(fileData[i].name) >= 0 ? '\t<span class="teacher-file">You uploaded this file.</span>\n' : '' %><code class="prettyprint language-java linenums"><%= fileData[i].display ? fileData[i].contents : 'This is a binary file. Download it to view it.' %></code><ol class="comments"></ol></pre>
    </div>
  <% } %>
</div>
<div class="io">
  <label for="input-text">
    Input
    <span class="fa fa-caret-square-o-right" id="input-expand"></span>
  </label>
  <textarea class="form-control put-text" id="input-text"></textarea>
  <label for="output-text">Output</label>
  <pre class="form-control put-text" id="output-text" readonly>Run a file to view its output here.</pre>
</div>
