<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->

<div class="page-header">
  <h1><%= assignment[0].name %></h1>
  <a href="caseCreate" class="right plus-button"><span class="fa fa-plus-circle" data-toggle="tooltip" data-placement="left" title="" data-original-title="New Case"></span></a>
</div>

<div class="table-responsive">
  <table class="table table-striped table-linked">
    <thead>
      <tr>
        <th>Test Case</th>
        <th>Input</th>
        <th>Output</th>
      </tr>
    </thead>
    <tbody>
      <% if(testCases.length == 0) { %>
        <tr>
          <td colspan="5">You have not created any test cases.</td>
        </tr>
      <% } else {
          for(i in testCases) { %>
            <tr>
              <td><%= (+i + 1) %></td>
              <td><%= testCases[i].input %></td>
              <td><%= testCases[i].output %></td>
              <td><td><span class="fa fa-trash-o" data-toggle="tooltip" data-placement="bottom" title="Delete" onclick="confirmDelete(<%= rows[i].id %>)"></span></td>
            </tr>
       <% }
         } %>
    </tbody>
  </table>
</div>
