<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<% for(i in rows) {
    if (typeof rows[i].description === 'object') {
      rows[i].description = "<em>None</em>";
    }
  }%>
<div class="page-header" id="header-assignments">
  <h1>Assignments</h1>
</div>
<div class="triangle"></div>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <% if(rows.length == 0) { %>
          <tr>
            <td colspan="6">You have no Assignments... Lucky</td>
          </tr>
      <% 
        } else {
          for(i in rows) {
            var dueString = strftime('%m-%d-%y', new Date(rows[i].due));
      %>
            <tr>
              <td><a href="/student/assignment/<%= rows[i].id %>"><%= rows[i].assignmentName %></a></td>
              <td><%- rows[i].description %></td>
              <td><%- dueString %></td>
              <td><%= rows[i].name %></td>
              <td><%= rows[i].lname + ', ' + rows[i].fname %></td>
              <td class="status status-<%= rows[i].submitted ? 'submitted' : (Date.now() > rows[i].due ? 'late' : 'notsubmitted')  %>">&nbsp;</td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>
