<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->

<div class="page-header" id="header-assignments">
  <div class="left-header">
    <h1><%= assignment.name %></h1>
  </div>
  <div class="right-header">
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%- assignment.description ? assignment.description : '<em>No Description</em>' %></td>
        <td title="<%= strftime('%b %d %Y, %l:%M %p', new Date(assignment.due)) %>"><strong>Due:</strong> <%- strftime('%m-%d-%y', new Date(assignment.due)) + (Date.now() > assignment.due ? ' <span class="fa fa-clock-o" data-toggle="tooltip" data-placement="right" title="Late"></span>' : '') %></td>
        <% if(teacherFiles.length > 0) { %>
          <% 
            var list = '';
            for(i in teacherFiles) {
              list += teacherFiles[i].name + ', ';
            }
            list = list.substring(0, list.length - 2);
          %>
          <td><strong>Attached:</strong> <%= list %></td>
        <% } %>
        <td class="status status-<%= Date.now() > assignment.due ? 'late' : 'notsubmitted' %>">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="drag-zone" id="student-upload">

  <div class="col-lg-7" id="actions">
    <div class="row dz-clickable">
      <div class="outer">
        <div class="inner">
          <img src="/images/plus.svg" alt="+" class="plus" />
        </div>
      </div>
      <div class="message">Click to add files or drag and drop.</div>
    </div>
  </div>

  <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
  <div class="col-md-7 table table-striped" class="files" id="previews">

    <div id="previews-inner">

      <h3>Selected Files</h3>

      <div class="file-row">
        <!-- This is used as the file preview template -->
        <div>
          <p class="name" data-dz-name></p>
          <strong class="error text-danger" data-dz-errormessage></strong>
        </div>

        <div>
          <button data-dz-remove class="svg-btn cancel">
            <img src="/images/times.svg" />
          </button>
        </div>
      </div>

    </div>

  </div>

</div>

<button type="submit" class="svg-btn submit-assignment">
  <img src="/images/check.svg" />
</button>

<div class="progress progress-striped active prog-total" role="progressbar">
  <div class="progress-bar progress-bar-success" style="width:0%"></div>
</div>

