<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->

<div class="page-header" id="header-assignments">
  <div class="left-header">
    <h1><%= assignment.name %></h1>
  </div>
  <div class="right-header">
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%- assignment.description ? assignment.description : '<em>No Description</em>' %></td>
        <td title="<%= strftime('%b %d %Y, %l:%M %p', new Date(assignment.due)) %>"><strong>Due:</strong> <%= strftime('%m-%d-%y', new Date(assignment.due)); %><%- fileData[0].submitted > assignment.due ? ' <span class="fa fa-clock-o" data-toggle="tooltip" data-placement="right" title="Late"></span>' : '' %></td>
        <% if(teacherFiles.length > 0) { %>
          <% 
            var list = '';
            for(i in teacherFiles) {
              list += teacherFiles[i].name + ', ';
            }
            list = list.substring(0, list.length - 2);
          %>
          <td><strong>Attached:</strong> <%= list %></td>
        <% } %>
        <td><strong>Grade:</strong> <%- fileData[0].grade ? fileData[0].grade : '<em>Not graded.</em>' %></td>
        <td class="status status-submitted">&nbsp;</td>
      </tr>
    </tbody>
    </table>
</div>

<% if(!anyCompiled) { %>
  <div class="alert alert-warning" role="alert">
    WARNING: This code could not successfully be compiled. Your teacher will be unable to run it.
  </div>
<% } %>

<!-- If student has submitted files needs resubmit -->
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <% for(i in fileData) { %>
      <% fileData[i].shortName = i; %>
      <li role="presentation"<%- i == 0 ? ' class="active"' : '' %>><a href="#<%= fileData[i].shortName %>" role="tab" data-toggle="tab"><%= fileData[i].name %></a></li>
      <% } %>
  </ul>
</div>
<div class="tab-content">
    <% for (i in fileData) { %>
      <div role="tabpanel" class="tab-pane<%= i == 0 ? ' first active' : '' %>" id="<%= fileData[i].shortName %>">
        <pre><code class="prettyprint language-java linenums"><%= fileData[i].display ? fileData[i].contents : 'This is a binary file and cannot be displayed.' %></code><ol class="comments"></ol></pre>
      </div>
    <% } %>
</div>
<div class"row">
  <button class="btn btn-primary start" href="resubmit/" role="button" id="resubmit">Resubmit</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to resubmit? Your current work will be lost. If it is past the due date, your new submission will be marked late.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Resubmit</button>
      </div>
    </div>
  </div>
</div>
