<% if(typeof rows == 'undefined') {%>
<h1> Some kind of Error has happened </h1>
<% } else { %>
<div class="page-header">
  <h1> Assignments </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Assignment Name</th>
        <th>Description</th>
        <th>Due</th>
        <th>Class</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">You have no Assignments... Lucky/td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><%= rows[i].assignmentName %></a></td>
              <td><%= rows[i].description%></td>
              <td><%= rows[i].due%></td>
              <td><%= rows[i].name%></td>
              <td><%= rows[i].lname + ', ' + rows[i].fname%></td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>
<% } %>
