<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->
 
<% for(i in rows) {
    if (typeof rows[i].description === 'object') {
      rows[i].description = "N/A";
    }
  }%>
<div class="page-header">
  <h1>Assignments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Assignment Name</th>
        <th>Description</th>
        <th>Due</th>
        <th>Class</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">You have no Assignments... Lucky</td>
        </tr>
    <% 
        } else {
          for(i in rows) {
            var dueString = strftime('%b %d, %Y at %l:%M %p', new Date(rows[i].due));
            if(rows[i].submitted) { // assignment has been submitted
              dueString += ' <span class="fa fa-check-circle" data-toggle="tooltip" data-placement="bottom" title="Done"></span>';
              if(rows[i].submitted > rows[i].due) {
                dueString += ' <span class="fa fa-clock-o" data-toggle="tooltip" data-placement="bottom" title="Late"></span>';
              }
            } else if(Date.now() > rows[i].due) { // assignment is not submitted and late
              dueString += ' <span class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="bottom" title="Overdue!"></span>';
            } else { // not submitted but still time to submit
              // don't show anything
            }
    %>
            <tr>
              <td><a href="/student/assignment/<%= rows[i].id %>"><%= rows[i].assignmentName %></a></td>
              <td><%= rows[i].description %></td>
              <td><%- dueString %></td>
              <td><%= rows[i].name %></td>
              <td><%= rows[i].lname + ', ' + rows[i].fname %></td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>
