<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><%= typeof title == 'undefined' ? '' : (title + ' | ') %>jGrader</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/shared.css" rel="stylesheet">
    <link href="/stylesheets/section.css" rel="stylesheet">

    <% if(typeof css != 'undefined') {
        for(i in css) { %>
          <link href="/stylesheets/<%= css[i] %>.css" rel="stylesheet">
        <% }
      } %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59832097-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body<%- typeof onload == 'undefined' ? '' : (' onload="' + onload + '"') %>>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/student">jGrader</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/student/feedback">Feedback</a></li>
            <li><a href="/student/settings">Settings</a></li>
            <li><a href="/log-out">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li<%- page == 0 ? ' class="active"' : '' %>><a href="/student/section">Classes <span class="sr-only">(current)</span></a></li>
            <li<%- page == 1 ? ' class="active"' : '' %>><a href="/student/assignment">Assignments</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <noscript>
            <div class="alert alert-warning" role="alert">
              You have JavaScript turned off! Many features of this site will not work!
            </div>
          </noscript>
          <% if(mustResetPass) { %>
            <div class="alert alert-danger" role="alert">
              Please go to the <a href="/student/settings">settings</a> and change your password.
            </div>
          <% } %>
          <% if(nosupport) { %>
            <div class="alert alert-warning" role="alert">
              Your browser is not supported. Consider <a href="http://browsehappy.com/" target="_blank">upgrading to a newer one</a>.
            </div>
          <% } %>
          <% if(typeof error != 'undefined') { %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= error %>
            </div>
          <% } %>
          <% if(typeof success != 'undefined') { %>
            <div class="alert alert-success alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= success %>
            </div>
          <% } %>
          <%- content %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>

    <% 
      if(typeof js != 'undefined') {
        for(i in js) { 
          if(!js[i].startsWith('http')) js[i] = '/javascripts/' + js[i] + '.js';
    %>
          <script type="text/javascript" src="<%= js[i] %>"></script>
    <%
        }
      } 
    %>
  </body>
</html>
