<% if (rows.length == 0){ %>
<!-- Need to implement a way of getting section name not related to rows-->
<h1> Some kind of Error has happened</h1>
<% } else { %>
<div class="page-header">
  <h1> <%= rows[0].sectionName %> </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">You have no Assignments... Lucky/td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><a href="/student/assignment/<%= rows[i].id%>"><%= rows[i].name %></a></td>
              <td><%= rows[i].description%></td>
              <td><%= rows[i].due%></td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>

<% } %>
