<!-- Created by Brian Singer and Greg Carlin in 2015.
 Copyright (c) 2015 JGrader. All rights reserved. -->

<div class="page-header">
  <h1><%= name %></h1>
  <a onclick="confirmDelete(<%= id %>)" class="right plus-button"><span class="fa fa-trash-o" data-toggle="tooltip" data-placement="left" title="Drop"></span></a>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Description</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody>
    <% if(rows.length == 0) { %>
        <tr>
          <td colspan="3">You have no Assignments... Lucky</td>
        </tr>
      <% } else {
          for(i in rows) {%>
            <tr>
              <td><a href="/student/assignment/<%= rows[i].id%>"><%= rows[i].name %></a></td>
              <td><%= rows[i].description%></td>
              <td><%= rows[i].due%></td>
            </tr>
       <% }
       } %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to drop this class? All associated data, including submitted assignments, will be lost.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Drop</button>
      </div>
    </div>
  </div>
</div>
